@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600&display=swap');

:root{
  --main-blue: #022B3A;
  --main-blue-darker: #011D27;
  --tea-green: #CADBC0;
  --tea-green-light: #A8C397;
  --pink-bittersweet: #F97068;
  --pink-melon: #FCB4B1;
  
}
* {
  font-family: 'Roboto Mono', monospace  !important;
}
header {
  background-color: var(--main-blue);
}

body{
  padding:0;
  margin:0;
  background-color: var(--tea-green);
  font-family: 'Roboto Mono', monospace;
}
body.with-aside {
  background-color: var(--tea-green);
}

body.without-aside {
  background-color: var(--main-blue-darker);
}

.inner-container {
  background-color: white;
}
#title{
  color:var(--tea-green) !important;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  font-family: Helvetica;
  color: var(--tea-green);
  background: rgba(0, 0, 0, 0.14);
  padding: 30px 0px;
}

.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(5,1,2,1);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:var(--tea-green);
  border:0;
  color:var(--main-blue);
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:hover {
  background: var(--tea-green-light);
}
.box button:active{
  background:var(--pink-bittersweet);
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

a:link,a:visited , a:hover, a:active{
  text-decoration: none;
}
.red-error{
  color:red;
}

aside {
  background-color: var(--main-blue-darker);
}
aside a {
  color: var(--tea-green);
}


aside li {
  color: var(--main-blue);
  text-align: center;
}

aside .current_page {
  background: #033B4F;
}

aside ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 0;
}

